name = "GordonBell25"
uuid = "01bae11a-8c86-47ea-956a-4644a8dd5e5e"
authors = ["William Moses and contributors"]
version = "0.1.0"

[deps]
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
CUDA_Runtime_jll = "76a88914-d11a-5bdc-97e0-2f5a05c973a2"
ClimaOcean = "0376089a-ecfe-4b0e-a64f-9c555d74d754"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Enzyme = "7da242da-08ed-463a-9acd-ee780be4f1d9"
FileIO = "5789e2e9-d7fb-5bc7-8068-2c6fae9b9549"
GLMakie = "e9467ef8-e4e7-5192-8a1a-b1aee30e663a"
HDF5_jll = "0234f1f7-429e-5d53-9886-15a909be8d59"
IntelITT = "c9b2f978-7543-4802-ae44-75068f23ee64"
JLD2 = "033835bb-8acc-5ee8-8aae-3f567f8a3819"
KernelAbstractions = "63c18a36-062a-441e-b654-da1e3ab1ce7c"
MPI = "da04e1cc-30fd-572f-bb4f-1f8673147195"
Oceananigans = "9e8cae18-63c1-5223-a75c-80ca9d6e9a09"
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Profile = "9abbd945-dff8-562f-b5e8-e1ebf5ef1b79"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Reactant = "3c362404-f566-11ee-1572-e11a4b42c853"
ReactantCore = "a3311ec8-5e00-46d5-b541-4f83e724a433"
Reactant_jll = "0192cb87-2b54-54ad-80e0-3be72ad8a3c0"
SeawaterPolynomials = "d496a93d-167e-4197-9f49-d3af4ff8fe40"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"

[compat]
CUDA = "5.7.1"
ClimaOcean = "0.8"
Dates = "1"
Enzyme = "0.13.71"
FileIO = "1.17.0"
GLMakie = "0.11.11"
HDF5_jll = "=1.14.3"
IntelITT = "0.2.1"
JLD2 = "0.5.15"
KernelAbstractions = "0.9.34"
MPI = "0.20.22"
Oceananigans = "0.99"
Plots = "1.40.19"
PrecompileTools = "1.2.1"
Printf = "1"
Profile = "1"
Reactant = "0.2.161"
ReactantCore = "0.1"
Reactant_jll = "0.0"
SeawaterPolynomials = "0.3.9"
Serialization = "1"

[preferences.Reactant]
xla_runtime = "IFRT"

[sources]
ClimaOcean = {url = "https://github.com/vchuravy/ClimaOcean.jl", rev="vc/bounds"}
