name: "Compile or Run"

on:
  workflow_call:
    inputs:
      julia_version:
        description: 'Julia version'
        required: true
        type: string
      os:
        description: 'OS/Runner'
        required: true
        type: string
      sharded:
        description: 'Whether we are using sharding'
        required: true
        type: boolean
      run_dir:
        description: 'Directory the run script lives in'
        required: true
        type: string
      grid_type:
        description: 'What type of grid to use'
        required: true
        type: string
      xla_runtime:
        description: 'The XLA runtime'
        required: true
        type: string
      compile_or_run:
        description: 'We compile or run the code'
        required: true
        type: string
      earlyoom_threshold:
        description: 'earlyoom threshold'
        required: true
        type: number
      julia_optlevel:
        description: 'Julia optimization level'
        required: true
        type: number
      sim_type:
        description: 'ocean_climate or baroclinic_instability'
        required: true
        type: string

jobs:
  simulation:
    name: Julia ${{ inputs.julia_version }} - ${{ inputs.sim_type }} - ${{ inputs.os }} - ${{ inputs.xla_runtime }} - ${{ inputs.compile_or_run }}
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Install earlyoom
        if: ${{ startsWith(inputs.os, 'ubuntu') }}
        run: |
          sudo apt-get install -y earlyoom
      - uses: julia-actions/setup-julia@v2
        if: ${{ startsWith(inputs.os, 'ubuntu') }}
        with:
          version: ${{ inputs.julia_version }}
      - uses: julia-actions/cache@v2
        if: ${{ startsWith(inputs.os, 'ubuntu') }}
        with:
          cache-name: julia-cache;workflow=${{ inputs.julia_version }}-${{ inputs.sim_type }}-${{ inputs.os }}-${{ inputs.xla_runtime }}-${{ inputs.compile_or_run }};job=${{ github.job }}
      - name: Collect Workflow Telemetry
        uses: catchpoint/workflow-telemetry-action@v2
        with:
          comment_on_pr: false
          job_summary: true
      - name: Set XLA runtime
        run: |
          cat <<EOF > LocalPreferences.toml
          [Reactant]
          xla_runtime = "${{ inputs.xla_runtime }}"
          EOF
      - name: Instantiate environment
        timeout-minutes: 90
        shell: julia --color=yes --project {0}
        run: |
          using Pkg
          Pkg.Registry.update()
          Pkg.add([
              PackageSpec(; name="Reactant", rev="main"),
          #     PackageSpec(; name="ReactantCore", rev="main"),
              PackageSpec(; name="Oceananigans", rev="7e46e80d010960c0732f1615dbf94d96d9a237ca"),
          #     PackageSpec(; name="ClimaOcean", rev="main"),
          ])
          Pkg.instantiate()
      - name: Upload project environment
        uses: actions/upload-artifact@v4
        timeout-minutes: 10
        if: ${{ always() }}
        with:
          name: 'environment-${{ inputs.sim_type }}-${{ inputs.grid_type }}-${{ inputs.julia_version }}-${{ inputs.os }}-${{ inputs.xla_runtime }}-${{ inputs.compile_or_run }}'
          path: |
            Manifest.toml
            Project.toml
          retention-days: 90
          overwrite: false
      - name: Ocean climate simulation
        timeout-minutes: 190
        env:
          grid_type: ${{ inputs.grid_type }}
          XLA_FLAGS: ${{ inputs.sharded && '--xla_force_host_platform_device_count=4 --xla_dump_to=xla_dump' || '--xla_dump_to=xla_dump' }}
          JULIA_NUM_THREADS: 4
        run: |
          earlyoom -m ${{ inputs.earlyoom_threshold }} -s 100 -r 120 --prefer 'julia' &
          # `timeout` sends a SIGTERM, which gives a chance to read a more informative
          # stacktrace than when the step is forcibly terminated by GitHub Actions.
          timeout --signal=TERM --verbose 180m julia --color=yes --project -O${{ inputs.julia_optlevel }} ${{ inputs.run_dir }}/${{ inputs.sim_type }}_simulation_${{ inputs.compile_or_run }}.jl
      - name: Show remaining jit calls
        if: ${{ inputs.compile_or_run == 'compile' }}
        timeout-minutes: 10
        run: |
          JIT_CALLS=$(find . -name 'optimised_${{ inputs.sim_type }}*.mlir' -exec grep --with-filename --line-number 'enzymexla\.jit_call' '{}' \;)
          NUM_JIT_CALLS=$(echo "${JIT_CALLS}" | wc -l | xargs)
          if [[ -n "${JIT_CALLS}" ]]; then
              MSG="There are ${NUM_JIT_CALLS} remaining jit calls"
              echo "::error title=Remaining JIT Calls:: ${MSG}"
              echo
              echo "----------"
              echo "${JIT_CALLS}"
              echo "----------"
              exit 1
          fi
      - name: Show remaining collective operations
        if: ${{ inputs.sharded && inputs.compile_or_run == 'compile' }}
        timeout-minutes: 10
        run: |
          OK="true"
          for OP in all-to-all all-gather all-reduce; do
              COLLECTIVES=$(find . -name 'optimised_${{ inputs.sim_type }}*.xla' -exec grep --with-filename --line-number --extended-regexp "${OP}" '{}' \;)
              NUM_COLLECTIVES=$(echo "${COLLECTIVES}" | wc -l | xargs)
              if [[ -n "${COLLECTIVES}" ]]; then
                  MSG="There are ${NUM_COLLECTIVES} remaining ${OP} operations"
                  echo "::error title=Remaining ${OP} Operations:: ${MSG}"
                  echo
                  echo "----------"
                  echo "${COLLECTIVES}"
                  echo "----------"
                  if [[ "${OP}" == "all-to-all" && ${NUM_COLLECTIVES} -gt 0 ]] || [[ "${OP}" == "all-gather" && ${NUM_COLLECTIVES} -gt 0 ]] || [[ "${OP}" == "all-reduce" && ${NUM_COLLECTIVES} -gt 0 ]]; then
                      OK="false"
                  fi
              fi
          done
          if [[ "${OK}" == "false" ]]; then
              exit 1
          fi
      - name: Upload MLIR and XLA modules
        uses: actions/upload-artifact@v4
        timeout-minutes: 10
        if: ${{ always() }}
        with:
          name: 'simulation-mlir-${{ inputs.sim_type }}-${{ inputs.grid_type }}-${{ inputs.julia_version }}-${{ inputs.os }}-${{ inputs.xla_runtime }}'
          path: |
            **/*.mlir
            **/optimised_*.xla
          retention-days: 90
          overwrite: false
      - name: Upload Julia profiler traces
        uses: actions/upload-artifact@v4
        timeout-minutes: 10
        if: ${{ always() && inputs.compile_or_run == 'compile' }}
        with:
          name: 'simulation-julia-profile-${{ inputs.sim_type }}-${{ inputs.grid_type }}-${{ inputs.julia_version }}-${{ inputs.os }}-${{ inputs.xla_runtime }}'
          path: |
            **/profile_*.txt
            **/profile_*.dat
          retention-days: 90
          overwrite: false
      - name: Upload XLA dump
        uses: actions/upload-artifact@v4
        timeout-minutes: 10
        if: ${{ always() && inputs.compile_or_run == 'run' }}
        with:
          name: 'simulation-xla-dump-${{ inputs.sim_type }}-${{ inputs.grid_type }}-${{ inputs.julia_version }}-${{ inputs.os }}-${{ inputs.xla_runtime }}'
          path: '**/xla_dump'
          retention-days: 90
          overwrite: false
      - name: Upload XLA profiler traces
        uses: actions/upload-artifact@v4
        timeout-minutes: 10
        if: ${{ always() && inputs.compile_or_run == 'run' }}
        with:
          name: 'simulation-xla-profile-${{ inputs.sim_type }}-${{ inputs.grid_type }}-${{ inputs.julia_version }}-${{ inputs.os }}-${{ inputs.xla_runtime }}'
          path: '**/plugins'
          retention-days: 90
          overwrite: false
